<app-menu></app-menu>
<div class="container mx-auto p-4 mt-40">
  <h1 class="text-2xl font-bold text-center mb-4 " style="color: white;">Juego del Ahorcado</h1>
  <div class="flex justify-center items-center mb-4">
    <div class="flex flex-col items-center">
      <svg height="250" width="200" class="mb-4">
        <!-- Poste -->
        <line x1="60" y1="20" x2="140" y2="20" stroke="white" stroke-width="4" />
        <line x1="140" y1="20" x2="140" y2="50" stroke="white" stroke-width="4" />
        <line x1="60" y1="20" x2="60" y2="230" stroke="white" stroke-width="4" />
        <line x1="20" y1="230" x2="100" y2="230" stroke="white" stroke-width="4" />

        <!-- Cabeza -->
        <circle *ngIf="lives <= 5" cx="140" cy="70" r="20" stroke="white" stroke-width="4" fill="none" />
        <!-- Cuerpo -->
        <line *ngIf="lives <= 4" x1="140" y1="90" x2="140" y2="150" stroke="white" stroke-width="4" />
        <!-- Brazo izquierdo -->
        <line *ngIf="lives <= 3" x1="140" y1="110" x2="120" y2="130" stroke="white" stroke-width="4" />
        <!-- Brazo derecho -->
        <line *ngIf="lives <= 2" x1="140" y1="110" x2="160" y2="130" stroke="white" stroke-width="4" />
        <!-- Pierna izquierda -->
        <line *ngIf="lives <= 1" x1="140" y1="150" x2="120" y2="180" stroke="white" stroke-width="4" />
        <!-- Pierna derecha -->
        <line *ngIf="lives <= 0" x1="140" y1="150" x2="160" y2="180" stroke="white" stroke-width="4" />
      </svg>
      <div class="text-xl font-mono tracking-widest mb-4" style="color: white;">
        <span *ngFor="let letter of displayedWord">{{ letter }} </span>
      </div>
    </div>
  </div>
  
  <div class="flex justify-center items-center flex-wrap mb-4">
    <div class="w-full flex justify-center mb-2">
      <button *ngFor="let letter of qwertyTopRow"
              (click)="guessLetter(letter)"
              [disabled]="guessedLetters.has(letter)"
              class="m-1 p-2 border rounded w-10 h-10 flex items-center justify-center"
              [ngClass]="{'bg-red-500': wrongLetters.has(letter), 'bg-green-500': correctLetters.has(letter), 'bg-gray-200': !guessedLetters.has(letter)}">
              {{ letter }}
              <span *ngIf="correctLetters.has(letter)" class="text-green-500">&#10003;</span>
              <span *ngIf="wrongLetters.has(letter)" class="text-red-500">&#10007;</span>
            </button>
          </div>
          <div class="w-full flex justify-center mb-2">
            <button *ngFor="let letter of qwertyMiddleRow"
                    (click)="guessLetter(letter)"
                    [disabled]="guessedLetters.has(letter)"
                    class="m-1 p-2 border rounded w-10 h-10 flex items-center justify-center"
                    [ngClass]="{'bg-red-500': wrongLetters.has(letter), 'bg-green-500': correctLetters.has(letter), 'bg-gray-200': !guessedLetters.has(letter)}">
              {{ letter }}
              <span *ngIf="correctLetters.has(letter)" class="text-green-500">&#10003;</span>
              <span *ngIf="wrongLetters.has(letter)" class="text-red-500">&#10007;</span>
            </button>
          </div>
          <div class="w-full flex justify-center">
            <button *ngFor="let letter of qwertyBottomRow"
                    (click)="guessLetter(letter)"
                    [disabled]="guessedLetters.has(letter)"
                    class="m-1 p-2 border rounded w-10 h-10 flex items-center justify-center"
                    [ngClass]="{'bg-red-500': wrongLetters.has(letter), 'bg-green-500': correctLetters.has(letter), 'bg-gray-200': !guessedLetters.has(letter)}">
              {{ letter }}
              <span *ngIf="correctLetters.has(letter)" class="text-green-500">&#10003;</span>
              <span *ngIf="wrongLetters.has(letter)" class="text-red-500">&#10007;</span>
            </button>
          </div>
        </div>
        
        <div *ngIf="gameOver" class="text-center text-red-500">
          <p>{{ message }}</p>
          <button (click)="resetGame()" class="bg-blue-500 text-white p-2 rounded mt-4">Reiniciar Juego</button>
        </div>
      </div>