button {
  background-color: #333; /* Fondo negro */
  color: #fff; /* Texto blanco */
  border: none; /* Sin borde */
}

/* Estilos para los botones cuando están deshabilitados */
button:disabled {
  background-color: #555; /* Fondo gris oscuro */
  color: #ccc; /* Texto gris claro */
}


