<app-menu></app-menu>

<div class="flex flex-col items-center justify-center mt-40" >
  <img src="../../../assets/mifoto.png" alt="Tu foto" class="w-40 h-40 rounded-full mb-6 shadow-lg">
  <h1 class="text-4xl font-bold mb-2 text-gray-800" style="color: white;">Gustavo Rotela</h1>
  <div class="bg-gray-200 p-4 rounded-lg mb-6">
    <p class="text-lg text-gray-700"><span class="font-semibold">Edad:</span> 29</p>
    <p class="text-lg text-gray-700"><span class="font-semibold">Profesión:</span> Programador</p>
    <p class="text-lg text-gray-700"><span class="font-semibold">Email:</span> {{email}}</p>
  </div>
  <div class="bg-gray-100 p-6 rounded-lg mb-6">
    <h2 class="text-2xl font-bold mb-4 text-gray-800 align-middle">Juego propio: Blackjack</h2>
    <p class="text-lg text-gray-700">Se reparten 2 cartas a cada jugador, gana el que más se acerca a 21 sin pasarse.</p>
    <p class="text-lg text-gray-700">Se puede pedir carta, si sumás más de 21, perdés automáticamete. También podés plantarte</p>
    <p class="text-lg text-gray-700">y esperar a si el dealer suma menos que vos para ganar o se pasa de 21, en caso de que</p>
    <p class="text-lg text-gray-700">sume más que vos, pero igual o menos de 21, gana el dealer.</p>
    <p class="text-lg text-gray-700">Todas las cartas de figuras suman 10 puntos, en el caso del as, suma 11 si este valor no</p>
    <p class="text-lg text-gray-700">hace que sumes más de 21, caso contrario, vale 1</p>
  </div>
</div>