<nav class="bg-white shadow-lg fixed top-0 left-0 w-full z-50">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex justify-between items-center">
        <a class="py-5 px-3 text-gray-700 hover:text-gray-900 cursor-pointer" (click)="navigateTo('home')">Inicio</a>
        
          <div class="relative group">
            <a class="py-5 px-3 text-gray-700 hover:text-gray-900 cursor-pointer">Juegos</a>
            <div class="absolute left-0 top-full hidden mt-1 w-40 bg-white shadow-lg rounded-lg group-hover:block">
              <a class="block px-4 py-2 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/ahorcado')">Ahorcado</a>
              <a class="block px-4 py-2 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/mayoromenor')">Mayor o menor</a>
              <a class="block px-4 py-2 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/preguntados')">Preguntados</a>
              <a class="block px-4 py-2 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/blackjack')">BlackJack</a>
            </div>
          </div>
          <a class="py-5 px-3 text-gray-700 hover:text-gray-900 cursor-pointer" (click)="navigateTo('quien-soy')">Quien soy</a>
          <a class="py-5 px-3 text-gray-700 hover:text-gray-900 cursor-pointer" (click)="navigateTo('chat')">Chat</a>
        
        
        <!-- Botón de cerrar sesión en escritorio -->
        <div class="hidden md:flex items-center space-x-1">
          <button class="py-2 px-3 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300 cursor-pointer" (click)="closeSession()">Cerrar sesión</button>
        </div>
        
        <!-- Menú móvil -->
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button" (click)="toggleMobileMenu()">
            <svg class="w-6 h-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Menú móvil desplegable -->
    <div [ngClass]="{'block': isMobileMenuOpen, 'hidden': !isMobileMenuOpen}" class="md:hidden bg-white shadow-lg">
      <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200" (click)="navigateTo('home')">Inicio</a>
      <div class="relative group">
        <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Juegos</a>
        <div class="ml-4 mt-1 space-y-1">
          <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/ahorcado')">Ahorcado</a>
          <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/mayoromenor')">Mayor o menor</a>
          <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/preguntados')">Preguntados</a>
          <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200 cursor-pointer" (click)="navigateTo('juegos/blackjack')">BlackJack</a>
        </div>
      </div>
      <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200" (click)="navigateTo('quien-soy')">Quien soy</a>
      <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200" (click)="navigateTo('chat')">Chat</a>
      <a class="block py-2 px-4 text-gray-700 hover:bg-gray-200" (click)="closeSession()">Cerrar sesión</a>
    </div>
  </nav>